{% extends "Common/base.html" %}
{%load static%}
{%block title%}
<title>Slider Edit</title>
{%endblock title%}

{%block style%}
<script src="{%static 'js/ckeditor/ckeditor.js'%}"></script>
{%endblock%}

{%block content%}
{% include 'Common/sidebar.html' with data=cnav %}
<div class="app-body mt-0">
	<main class="main p-0">
		{% include 'Common/navbar.html'%}
		<div class="page_header"><a href="{%url 'SliderManagement'%}">Slider Management / </a><span style="color: #000000">Edit</span></div>
		

		{% include 'Common/taskbuttons.html'%}
	
		{%if messages%}
		{%for message in messages%}
		<script type="text/javascript">
			toastr["{{message.tags}}"]("{{message}}", "{{message.tags|upper}}");
		</script>
		{%endfor%}
		{%endif%}
		<div style="padding: 30px 20px;">
			<form method="post" class="bg-white p-4" enctype="multipart/form-data" autocomplete="off">
				{%csrf_token%}
				<div>
					<div class="form_container_div">
						<div class="form-group row mx-0">
							<label class="col-12 col-md-3 col-lg-3 col-xl-3 col-form-label font-weight-bold" for="title">Title:</label>
							<input type="text" class="is-invalid form-control form-control-sm col-12 col-md-9 col-lg-9 col-xl-9" name="title" id="title" placeholder="Enter Slider's Title" required value="{{slider.title}}" maxlength="99" />
						</div>

						<div class="form-group row mx-0">
							<label class="col-12 col-md-3 col-lg-3 col-xl-3 col-form-label font-weight-bold" for="order">Order:</label>
							<input type="number" class="is-invalid form-control form-control-sm col-12 col-md-9 col-lg-9 col-xl-9" min="0" name="order" id="order" placeholder="Enter Order" required value="{{slider.order}}" />
						</div>

						<div style="margin: 10px; text-align: center;">
							{% if slider.image %}
							<img id="prevw_img" src="{{slider.image.url}}" style="width:300px; margin-bottom: 15px;">
							{% else %}
							<img id="prevw_img" style="width:300px; margin-bottom: 15px;">
							{% endif %}
						</div>

						<div class="form-group row mx-0">
							<label class="col-12 col-md-3 col-lg-3 col-xl-3 col-form-label font-weight-bold" for="image">Image:</label>
							<input type="file" accept="image/*" class="col-12 col-md-9 col-lg-9 col-xl-9" name="image" id="image" placeholder="Enter Slider's Image">
							<p style="color:#2e8fbd;">File size should be less than 100 kB(1920 x 600). Only jpg, png, bmp, tif, svg, jpeg files allowed.</p>
							<p style="color:#788388;"><strong>WEBP format provides better quality with less size</strong></p>
						</div>

						<div style="margin: 10px; text-align: center;">
							{% if slider.mobile_image %}
							<img id="prevw_mobile_img" src="{{slider.mobile_image.url}}" style="width:300px; margin-bottom: 15px;">
							{% else %}
							<img id="prevw_mobile_img" style="width:300px; margin-bottom: 15px;">
							{% endif %}
						</div>
						<div class="form-group row mx-0">
							<label class="col-12 col-md-3 col-lg-3 col-xl-3 col-form-label font-weight-bold" for="mobile_image">Mobile Image:</label>
							<input type="file" accept="image/*" class="col-12 col-md-9 col-lg-9 col-xl-9" name="mobile_image" id="mobile_image" placeholder="Enter Slider's Mobile Image">
							<p style="color:#2e8fbd;">File size should be less than 100 kB(330 x 152). Only jpg, png, bmp, tif, svg, jpeg files allowed.</p>
							<p style="color:#788388;"><strong>WEBP format provides better quality with less size</strong></p>
						</div>

						<div class="form-group row mx-0">
							<label class="col-12 col-md-3 col-lg-3 col-xl-3 col-form-label font-weight-bold" for="slider_text">Slider Text:</label>
							<input type="text" class="is-invalid form-control form-control-sm col-12 col-md-9 col-lg-9 col-xl-9" name="slider_text" id="slider_text" placeholder="Enter Slider Text" required value="{{slider.slider_text}}" maxlength="499" />
						</div>

						<div class="form-group row mx-0">
							<label class="col-12 col-md-3 col-lg-3 col-xl-3 col-form-label font-weight-bold" for="button_text">Button Text:</label>
							<input type="text" class="is-invalid form-control form-control-sm col-12 col-md-9 col-lg-9 col-xl-9" name="button_text" id="button_text" placeholder="Enter Button Text" required value="{{slider.button_text}}" maxlength="55" />
						</div>

						<div class="form-group row mx-0">
							<label class="col-12 col-md-3 col-lg-3 col-xl-3 col-form-label font-weight-bold" for="button_url">Button URL:</label>
							<input type="text" class="is-invalid form-control form-control-sm col-12 col-md-9 col-lg-9 col-xl-9" name="button_url" id="button_url" placeholder="Enter Button URL" required value="{{slider.button_url}}" maxlength="499" />
						</div>

						<div class="form-group row mx-0">
							<label for="start_date" class="col-12 col-md-3 col-lg-3 col-xl-3 col-form-label font-weight-bold">Start Date :</label>
							<input class="form-control form-control-sm col-sm-12 col-md-9 col-lg-8 col-xl-8 is-invalid" type="datetime-local" name="start_date" id="start_date" value="{{start}}" required>
						</div>
						<div class="form-group row mx-0">
							<label for="end_date" class="col-12 col-md-3 col-lg-3 col-xl-3 col-form-label font-weight-bold">End Date :</label>
							<input class="form-control form-control-sm col-sm-12 col-md-9 col-lg-8 col-xl-8 is-invalid" type="datetime-local" name="end_date" id="end_date" value="{{end}}">
						</div>
						<div class="form-group row mx-0 d-flex align-items-center">
							<label class="col-12 col-md-3 col-lg-3 col-xl-3 col-form-label required" for="slider_type"> Select Slider Type :</label>
							<select class="form-control form-control-sm col-12 col-md-9 col-lg-9 col-xl-9" id="slider_type" name="slider_type" required>slider_type
								<option value="">--------</option>
								{%for type in slider_types%}
								{% if type.0 == type.0 %}
								<option value="{{type.0}}" selected>{{type.1}}</option>
								{% else %}
								<option value="{{type.0}}">{{type.1}}</option>
								{% endif %}
								{%endfor%}
							</select>
						</div>

						<div class="form-group row mx-0 d-flex align-items-center">
							<label class="col-12 col-md-3 col-lg-3 col-xl-3 col-form-label font-weight-bold" for="show">Slider Enabled:</label>
							{%if slider.is_archived%}
							<input type="checkbox" id="show" name="show" value="show">
							{%else%}
							<input type="checkbox" id="show" name="show" value="show" checked>
							{%endif%}
						</div>

					</div>
				</div>
				<!-- <div>
					<div class="form-group row mx-0">
						<label for="description"
							class="col-12 col-md-12 col-lg-12 col-xl-3 col-form-label font-weight-bold">Description:</label>
						<textarea style="min-width: 100%" id="description" name="description">
            			{{slider.description}}
					</textarea>
					</div>
				</div> -->
				<div class="d-flex  mt-2">
					<button type="button" class="btn btn-sm btn-secondary" onclick="javascript:window.history.back();">
						<i class="fa fa-angle-left"></i> Back
					</button>
					<div style="width: 10px"></div>
					<button type="reset" class="reset btn btn-sm btn-danger">
						<i class="fa fa-ban"></i> Reset
					</button>
					<div style="width: 10px"></div>
					<button type="submit" class="submit btn btn-sm btn-primary" id="sbmtbtn">
						<i class="fa fa-dot-circle-o"></i> Submit
					</button>
				</div>
			</form>
		</div>
	</main>
</div>
{% include 'Common/footer.html'%}

{%endblock content%}

{%block js%}
<script>

function readURL(input, output) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $(output).attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#image").change(function () {
        readURL(this, '#prevw_img');
    });

	$("#mobile_image").change(function () {
		readURL(this, '#prevw_mobile_img');
	});

</script>
{%endblock js%}