{% extends "Common/base.html" %}
{%block title%}
<title>Slider Management</title>
{%endblock title%}

{%block style%}
<style>
    .table th{
        border-top: none;
    }

    .table thead th{
        border-bottom: none;
    }

    .table td{
        border-top: 0.5px solid #6F2FA1;
    }

    .table td, .table th {
        vertical-align: inherit;
    }
    .module-searchbar {
        border: 2px solid #A184D5;
        border-radius: 24px;
        overflow: hidden;
        padding: 9px;
        width: 250px;
        margin-right: 10px;
    }
    form .submit {
        width: 50px;
        border-radius: 50px;
    }
</style>
{%endblock%}

{%block content%}
{% include 'Common/sidebar.html' with data=cnav %}
<div class="app-body mt-0">
    <main class="main p-0">
        {% include 'Common/navbar.html'%}
        <div class="page_header">Slider Management</div>
        

        {% include 'Common/taskbuttons.html'%}

        {%if messages%}
        {%for message in messages%}
        <script type="text/javascript">
            toastr["{{message.tags}}"]("{{message}}", "{{message.tags|upper}}");
        </script>
        {%endfor%}
        {%endif%}
        <div class="main_wrapper">
            <div class="row mb-3">
                <div class="col-8 d-flex">
                    {%if privilege and privilege.add_task%}
                    <a class="btn btn-sm btn-primary p-2 mr-3" href="{%url 'SliderCreate'%}"><i class="icon-plus"></i> Add Slider</a>
                    {%endif%}
                    <a class="btn btn-success btn-sm p-2" href="{%url 'SliderManagement'%}"><i class="icon-refresh"></i> Reload</a>              
                </div>
            </div>
            <div class="row mb-3">
                <form method="GET" class="col-4 d-flex">
                    <input type="text" name="slider" class="form-control form-control-sm module-searchbar" placeholder="Enter Slider Name"
                        value="{{request.GET.slider}}">
                    <button type="submit" class="submit btn btn-sm btn-primary">
                        <i class="fa fa-search"></i>
                    </button>
                </form>
            </div>

            <div class="table-title"><h2 class="text-center">Total Sliders: {{sliders.paginator.count}}</h2> </div>
            <div class="table-responsive-sm p-4 bg-white">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Image</th>
                        <th>Title</th>
                        <th>Order</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Live Now</th>
                        <th>Enable Status</th>
                        <th class="text-center">Operation</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for slider in sliders %}
                    
                    {% if slider.isLive %}
                    <tr style="color: rgb(32, 133, 82);">
                    {% elif slider.is_archived %}
                    <tr style="color: gray;">
                    {% elif slider.is_archived %}
                    <tr style="color: black;">
                    {% endif %}
                        <td><img src="{{slider.image.url}}" style="width:113px"></td>
                        <td>{{slider.title}}</td>
                        <td style="text-align: center;">{{slider.order}}</td>
                        <td>{{slider.start_date}}</td>
                        <td>{{slider.end_date}}</td>
                        <td style="text-align: center;">
                            {%if slider.isLive%}
                            <b>&#x2713;</b> <!-- YES -->
                            {% else %}
                            <b>&#x2717;</b> <!-- No  -->
                            {%endif%}
                        </td>
                        <td style="text-align: center;">
                            {%if slider.is_archived%}
                            <b>&#x2717;</b> <!-- No  -->
                            {% else %}
                            <b>&#x2713;</b> <!-- YES -->
                            {%endif%}
                        </td>
                        <td>
                            <div class="d-flex justify-content-center">
                                {%if privilege and privilege.view_task%}
                                <a class="mr-3" href="{%url 'SliderView' slider.id %}">
                                    <i class="icon-eye"></i>
                                </a>
                                {%endif%}
                                {%if privilege and privilege.edit_task%}
                                <a href="{%url 'SliderEdit' slider.id %}">
                                    <i class="fas fa-edit"></i>
                                </a>
                                {%endif%}
                            </div>
                        </td>
                    </tr>
                    {%empty%}
                    <tr class="odd">
                        <td colspan="9" style="text-align: center;">No data available in table</td>
                    </tr>
                    {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>

        {% include 'Common/pagination_with_filter.html' with data=sliders request=request %}
        
    </main>
</div>
{% include 'Common/footer.html'%}
{%endblock %}

{%block js%}
{%endblock%}
