.navbar-head {
    font-size: 20px;
    height: 48px;
    background: #5A3775;
    padding: 0 12px 0 22px
}

.navbar-head a {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 25px;
    height: 48px;
    color: #FFFFFF !important;
    text-decoration: none;
}

.navbar-head i {
    font-size: 30px;
}

.navhead-notification {
    width: 48px;
    height: 23px;
    background: #FFFFFF;
    border-radius: 5px;
    color: #FF0000;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-head {
    font-size: 18px;
    color: #FFFFFF;
    margin-top: 32px;
    margin-bottom: 34px;
    padding: 0 12px 0 22px
}

.nav-item > a.nav-link {
    display: flex !important;
    justify-content: start !important;
    align-items: center !important;
    gap: 9px !important;
    padding: 16px !important;
    font-size: 14px !important;
    line-height: 16px !important;
}

.nav-item:hover > a.nav-link{
    background: #5A3775;
}

.addBtn{
    background: #6F2FA1;
    border: none;
    color: #FFFFFF;
    border-radius: 4px;
    font-size: 10px;
    line-height: 12px;
    padding: 7px 15px;
}

.profileSettings{
    font-size: 20px;
    color: #000;
}

.nav-dropdown-items > .nav-item>a.nav-link {
    padding-left: 30px !important;
}

.navbarRight,
.profile-Menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbarRight{
    gap: 16px;
}
.profile-Menu{
    gap: 11px;
    margin-right: 20px;
    color: #000;
}
.profile-Menu:hover{
    text-decoration: none;
}

.profile-Menu .img-avatar{
    border-radius: 100px;
    height: 40px;
    width: 40px;
}

.profile-Menu .userName{
    font-size: 14px;
    line-height: 16px;
}