{% extends "Common/base.html" %}
{%block title%}
<title>Audit</title>
{%endblock title%}

{%block style%}
{%endblock%}

{%block content%}
{% include 'Common/sidebar.html' with data=cnav %}
<div class="app-body">
    
    <main class="main">
        {% include 'Common/navbar.html'%}
        <div class="page_header"><span style="color: black;" >Audit</span></div>
        

        {% include 'Common/taskbuttons.html'%}

        {%if messages%}
            {%for message in messages%}
            <script type="text/javascript">
                toastr["{{message.tags}}"]("{{message}}", "{{message.tags|upper}}");
            </script>
            {%endfor%}
        {%endif%}

        <div class="container-fluid">
            <div style="display: flex; justify-content: center;">
                <a class="btn btn-outline-success btn-sm" href="{%url 'LogWithAuditManagement'%}" id="reloadItem">
                    <i class="icon-refresh"></i> Reload
                </a>
            </div>

            <form method="GET" style="display: flex; position: relative; margin-top: 10px;" autocomplete="off">
                {%csrf_token%}
                <input type="text" class="form-control form-control-sm" name="uname" id="uname" placeholder="Enter username" style="width: 200px;" value="{{request.GET.uname}}">
                <input type="text" class="form-control form-control-sm" name="action" id="action" placeholder="Enter action" style="width: 200px;" value="{{request.GET.action}}">
                <input type="text" class="form-control form-control-sm" name="keyword" id="keyword" placeholder="Enter text" style="width: 200px;" value="{{request.GET.keyword}}">
                <input type="text" class="form-control form-control-sm datetimepicker-input" id="search_date" name="search_date" data-toggle="datetimepicker" data-target="#search_date" placeholder="Enter date" style="width: 150px;" value="{{request.GET.search_date}}">
                <button type="submit" class="submit btn btn-sm btn-primary">
                    <i class="fas fa-search"></i>
                </button>
            </form>

            <div class="mt-3">Total: <b>{{audits.paginator.count}}</b></div>

            <table class="table table-striped table-bordered table-sm bg-white mt-3">
                <thead>
                    <tr>        
                        <th>User Name</th>
                        <th>Action Name</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th colspan="8">Details</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {%for ad in audits%} 
                    <tr>
                        <td>{{ad.user}}</td>
                        <td>{{ad.action_name}}</td>
                        <td>{{ad.timestamp|date:"D , d M , Y"}}</td>
                        <td>{{ad.timestamp|date:"h:i a"}}</td>
                        <td colspan="8">{{ad.action_details}}</td>
                        <td>
                            {%if privilege and privilege.view_task%}
                            <a class="btn btn-sm btn-primary" href="{%url 'LogWithAuditDetailsView' ad.id %}">
                                <i class="icon-eye"></i> View
                            </a>
                            {%endif%}
                        </td>
                    </tr>
                    {%endfor%}
                    {% if audits %}
                        <tr></tr>
                    {%else%}
                        <tr class="odd"><td colspan="13" style="text-align: center;">No data available in table</td></tr>
                    {%endif%}
                </tbody>
            </table>
            
            {% include 'Common/pagination_with_filter.html' with data=audits request=request %}

        </div>
    </main>
</div>

{% include 'Common/footer.html'%}
{%endblock %}

{%block js%}
<script>
$(document).ready(function(){
    $('#search_date').datetimepicker({
        format: 'YYYY-MM-DD'
    });
});
</script>
{%endblock%}