{% extends "Common/base.html" %}
{%block title%}
<title>Module Management</title>
{%endblock title%}

{%block style%}
<style>
    .table th{
        border-top: none;
    }

    .table thead th{
        border-bottom: none;
    }

    .table td{
        border-top: 0.5px solid #6F2FA1;
    }

    .table td, .table th {
        vertical-align: inherit;
    }
</style>
{%endblock%}

{%block content%}
{% include 'Common/sidebar.html' with data=cnav %}
<div class="app-body mt-0">
    <main class="main p-0">
        {% include 'Common/navbar.html'%}
        <div class="page_header"><h5>Module Management</h5></div>

        {% include 'Common/taskbuttons.html'%}

        {%if messages%}
            {%for message in messages%}
            <script type="text/javascript">
                toastr["{{message.tags}}"]("{{message}}", "{{message.tags|upper}}");
            </script>
            {%endfor%}
        {%endif%}

        <div class="main_wrapper">
            <div class="row mb-3">
                <div class="col-8 d-flex">
                    {%if privilege and privilege.add_task%}
                    <a class="btn btn-sm btn-primary p-2 mr-3" href="{%url 'ModuleCreate'%}"><i class="icon-plus"></i> Add Module</a>
                    {%endif%}
                    <a class="btn btn-success btn-sm p-2" href="{%url 'ModuleManagement'%}"><i class="icon-refresh"></i> Reload</a>
                </div>
            </div>

            <div class="table-title"><h2 class="text-center">Total Modules: {{mdls.paginator.count}}</h2></div>
            <div class="table-responsive-sm p-4 bg-white">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Module Name</th>
                            <th>Order</th>
                            <th class="text-center">Operation</th>
                        </tr>
                    </thead>
                    <tbody>
                    {%for md in mdls%}
                        <tr >
                            <td>{{md.name}}</td>
                            <td>{{md.order}}</td>
                            <td>
                                <div class="d-flex justify-content-center">
                                    {%if privilege and privilege.view_task%}
                                    <a class="mr-3" href="{%url 'ModuleView' md.id %}">
                                        <i class="icon-eye"></i>
                                    </a>
                                    {%endif%}
                                    {%if privilege and privilege.edit_task%}
                                    <a href="{%url 'ModuleEdit' md.id %}">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    {%endif%}
                                </div>
                            </td>
                        </tr>
                        {%empty%}
                        <tr class="odd"><td colspan="9" style="text-align: center;">No data available in table</td></tr>
                    {%endfor%}
                    </tbody>
                </table>
            </div>

            {% include 'Common/pagination_with_filter.html' with data=mdls request=request %}
        
        </div>
    </main>
</div>
{% include 'Common/footer.html'%}
{%endblock%}

{%block js%}
{%endblock%}
