{% extends "Common/base.html" %}
{%block title%}
<title>Task Management</title>
{%endblock title%}

{%block style%}
<style>
    input[type=checkbox][checked] {
        outline: 1px solid white;
    }
    .table th{
        border-top: none;
    }

    .table thead th{
        border-bottom: none;
    }

    .table td{
        border-top: 0.5px solid #6F2FA1;
    }

    .table td, .table th {
        vertical-align: inherit;
    }
</style>
{%endblock%}

{%block content%}
{% include 'Common/sidebar.html' with data=cnav %}
<div class="app-body mt-0">
    <main class="main p-0">
        {% include 'Common/navbar.html'%}
        <div class="page_header"><h5>Task Management</h5></div>

        {%for permitted_task in PermittedSiblingTasks%}

        <a class="btn btn-sm btn-secondary" href="{%url permitted_task.task__task_url %}" style="margin: 9px;" >
            <i class="icon-notebook"></i> {{permitted_task.task__name}}
        </a>

        {%endfor%}


        {%if messages%}
        {%for message in messages%}
        <script type="text/javascript">
            toastr["{{message.tags}}"]("{{message}}", "{{message.tags|upper}}");
        </script>
        {%endfor%}
        {%endif%}
        <div class="main_wrapper">
            <div class="row mb-3">
                <div class="col-8 d-flex">
                    {%if privilege and privilege.add_task%}
                    <a class="btn btn-sm btn-primary p-2 mr-3" href="{%url 'TaskCreate'%}"><i class="icon-plus"></i> Add Task</a>
                    {%endif%}
                    <a class="btn btn-success btn-sm p-2" href="{%url 'TaskManagement'%}"><i class="icon-refresh"></i> Reload</a>
                </div>
            </div>

            <div class="table-title"><h2 class="text-center">Total Tasks: {{Tsks.paginator.count}}</h2></div>
            <div class="table-responsive-sm p-4 bg-white">
                <table class="table">
                    <tr>
                        <th>Task</th>
                        <th>Module</th>
                        <th>Order</th>
                        <th>View</th>
                        <th>Add</th>
                        <th>Save</th>
                        <th>Edit</th>
                        <th>Delete</th>
                        <th>Print</th>
                        <th>Cancel</th>
                        <th>Reset</th>
                        <th>Find</th>
                        <th class="text-center">Operation</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for tsk in Tsks %}
                    <tr>
                        <td>{{tsk.name}}</td>
                        <td>{{tsk.module}}</td>
                        <td>{{tsk.order}}</td>
                        {%if tsk.view_task %}
                        <td>&#x2714;</td>
                        {%else%}
                        <td>&#x2718;</td>
                        {%endif%}
                        {%if tsk.add_task %}
                        <td>&#x2714;</td>
                        {%else%}
                        <td>&#x2718;</td>
                        {%endif%}
                        {%if tsk.save_task%}
                        <td>&#x2714;</td>
                        {%else%}
                        <td>&#x2718;</td>
                        {%endif%}
                        {%if tsk.edit_task%}
                        <td>&#x2714;</td>
                        {%else%}
                        <td>&#x2718;</td>
                        {%endif%}
                        {%if tsk.delete_task%}
                        <td>&#x2714;</td>
                        {%else%}
                        <td>&#x2718;</td>
                        {%endif%}
                        {%if tsk.print_task%}
                        <td>&#x2714;</td>
                        {%else%}
                        <td>&#x2718;</td>
                        {%endif%}
                        {%if tsk.cancel_task%}
                        <td>&#x2714;</td>
                        {%else%}
                        <td>&#x2718;</td>
                        {%endif%}
                        {%if tsk.reset_task%}
                        <td>&#x2714;</td>
                        {%else%}
                        <td>&#x2718;</td>
                        {%endif%}
                        {%if tsk.find_task%}
                        <td>&#x2714;</td>
                        {%else%}
                        <td>&#x2718;</td>
                        {%endif%}
                        <td>
                            <div class="d-flex justify-content-center">
                                {%if privilege and privilege.view_task%}
                                <a class="mr-3" href="{%url 'TaskView' tsk.id %}">
                                    <i class="icon-eye"></i>
                                </a>
                                {%endif%}
                                {%if privilege and privilege.edit_task%}
                                <a href="{%url 'TaskEdit' tsk.id %}">
                                    <i class="fas fa-edit"></i>
                                </a>
                                {%endif%}
                            </div>
                        </td>
                    </tr>
                    {%endfor%}
                    </tbody>
                </table>
            </div>
            {% include 'Common/pagination_with_filter.html' with data=tsks request=request %}
        </div>
    </main>
</div>
{% include 'Common/footer.html'%}
{%endblock%}

{%block js%}

{%endblock%}
