{% extends "Common/base.html" %}
{%block title%}
<title>Lawyer Management</title>
{%endblock title%}
{%block style%}
{%endblock%}


{%block content%}
{% include 'Common/sidebar.html' with data=cnav %}
<div class="app-body mt-0">
    <main class="main p-0">
        {% include 'Common/navbar.html'%}
        <div class="page_header"><span style="color: #000000">Lawyer Management</span></div>
        

    {% include 'Common/taskbuttons.html'%}

    {%if messages%}
        {%for message in messages%}
        <script type="text/javascript">
            toastr["{{message.tags}}"]("{{message}}", "{{message.tags|upper}}");
        </script>
        {%endfor%}
        {%endif%}
        <div class="main_wrapper">
            <div style="display: flex;">
                {% comment %}
                {%if privilege and privilege.add_task%}
                <a class="btn btn-primary btn-sm" href="{%url 'LawyerCreate'%}">
                    <i class="icon-plus"></i> Add Lawyer
                </a>
                {%endif%}
                {% endcomment %}

                <div style="width: 10px;"></div>
                <a class="btn btn-success btn-sm" href="{%url 'LawyerManagement'%}">
                    <i class="icon-refresh"></i> Reload
                </a>
            </div>

            <form method="GET" style="display: flex; margin-top: 10px;">
                <input type="text" name="lawyer" class="form-control form-control-sm" placeholder="Enter Lawyer Name" value="{{request.GET.lawyer}}">
                <input type="text" name="lawyer_id" class="form-control form-control-sm" placeholder="Enter Lawyer ID" value="{{request.GET.lawyer_id}}">
                <input type="number" name="mobile" class="form-control form-control-sm" placeholder="Enter Mobile" value="{{request.GET.mobile}}">
                <select name="status" id="status" class="mr-1">
                    <option value="">--------</option>
                    {%for sl in status_list %}
                    <option value="{{sl.0}}" {% if request.GET.status == sl.0 %}selected{% endif %} >{{sl.1}}</option>
                    {%endfor%}
                </select>

                <button type="submit" class="btn btn-sm btn-primary">
                    <i class="fa fa-search"></i>
                </button>
            </form>

            <div class="mt-3">Total: <b>{{lawyers.paginator.count}}</b> lawyers</div>

            <div class="table-responsive-sm">
                <table class="table table-sm bg-white mt-3">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Lawyer Name</th>
                        <th>Mobile</th>
                        <th>Current Plan</th>
                        <th>Status</th>
                        <th>Expiry Date</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for lawyer in lawyers %}
                    <tr {% if lawyer.is_archived %}style="color: red;"{% endif %}>
                        
                        <td>{{lawyer.lawyer_id}}</td>
                        <td>{{lawyer.name}}</td>
                        <td>{{lawyer.mobile}}</td>
                        <td>{{lawyer.payment_plan.name}}</td>
                        <td>{{lawyer.status}}</td>
                        <td>{{lawyer.expiary_date}}</td>

                        <td>
                            {%if privilege and privilege.edit_task%}
                            <a class="btn btn-sm btn-outline-primary mr-1" href="{%url 'LawyerView' lawyer.id %}">
                                <i class="icon-eye"></i> View
                            </a>
                            {%endif%}

                            {%if privilege and privilege.save_task%}
                            <a class="btn btn-sm btn-outline-danger" href="{%url 'LawyerApprove' lawyer.id %}">
                                <i class="icon-notebook"></i> Approve
                            </a>
                            {%endif%}
                        </td>
                    </tr>
                    {%empty%}
                    <tr class="odd">
                        <td colspan="4" style="text-align: center;">No data available in table</td>
                    </tr>
                    {%endfor%}
                    </tbody>
                </table>
            </div>

            {% include 'Common/pagination_with_filter.html' with data=lawyers request=request %}

        </div>
    </main>
</div>
{% include 'Common/footer.html'%}
{%endblock %}

{%block js%}
{%endblock%}
