{% extends "Common/base.html" %}
{%block title%}
<title>Appointment Management</title>
{%endblock title%}
{%block style%}
{%endblock%}

{%block content%}
{% include 'Common/sidebar.html' with data=cnav %}
<div class="app-body mt-0">
    <main class="main p-0">
        {% include 'Common/navbar.html'%}
        <div class="page_header"><a href="{%url 'AppointmentList'%}">Appointment Management</a> / <span
                style="color: #000000">Details</span></div>
        

        {% include 'Common/taskbuttons.html'%}

        {%if messages%}
        {%for message in messages%}
        <script type="text/javascript">
            toastr["{{message.tags}}"]("{{message}}", "{{message.tags|upper}}");
        </script>
        {%endfor%}
        {%endif%}
        <div style="padding: 30px 20px;">
            <div class="card">
                <div class="card-header">
                    <strong>Appointment Details</strong>
                </div>                
                <div class="card-body" style="display: flex;">
                    <div class="form_container_div">

                        <div class="row">
                            <div class="col-5" style="font-weight: 800;">Appointment Number</div>
                            <div class="col-1" style="font-weight: 800;">:</div>
                            <div class="col-6" style="font-weight: 800;">{{appointment.appointment_num}}</div>
                            <br>
                            <br>
                        </div>

                        <div class="row">
                            <div class="col-5" style="font-weight: 600;">Status</div>
                            <div class="col-1" style="font-weight: 600;">:</div>
                            <div class="col-6">{{appointment.status}}</div>
                            <br>
                            <br>
                        </div>

                        <div class="row">
                            <div class="col-5" style="font-weight: 600;">Status Changed By</div>
                            <div class="col-1" style="font-weight: 600;">:</div>
                            <div class="col-6">{{appointment.status_changed_by}}</div>
                            <br>
                            <br>
                        </div>

                        <div class="row">
                            <div class="col-5" style="font-weight: 600;">Lawyer Category</div>
                            <div class="col-1" style="font-weight: 600;">:</div>
                            <div class="col-6">{{lawyer_categories}}</div>
                            <br>
                            <br>
                        </div>

                        <div class="row">
                            <div class="col-5" style="font-weight: 600;">Start Date</div>
                            <div class="col-1" style="font-weight: 600;">:</div>
                            <div class="col-6">{{appointment.start_date}}</div>
                            <br>
                            <br>
                        </div>

                        <div class="row">
                            <div class="col-5" style="font-weight: 600;">End Date</div>
                            <div class="col-1" style="font-weight: 600;">:</div>
                            <div class="col-6">{{appointment.end_date}}</div>
                            <br>
                            <br>
                        </div>

                        <div class="row">
                            <div class="col-5" style="font-weight: 600;">Chosen Date</div>
                            <div class="col-1" style="font-weight: 600;">:</div>
                            <div class="col-6">{{appointment.chosen_date}}</div>
                            <br>
                            <br>
                        </div>
                        
                    </div>

                    
                    <div class="form_container_div">

                        <div class="row">
                            <div class="col-5" style="font-weight: 600;">Message</div>
                            <div class="col-1" style="font-weight: 600;">:</div>
                            <div class="col-6">{{appointment.message}}</div>
                            <br>
                            <br>
                        </div>
                        
                    </div>
                    
                </div>

                <div class="card-header">
                    <strong>Lawyer & Customer</strong>
                </div>                
                <div class="card-body" style="display: flex;">
                    <div class="form_container_div">

                        <div class="row">
                            <div class="col-5" style="font-weight: 800;">Lawyer Name</div>
                            <div class="col-1" style="font-weight: 800;">:</div>
                            <div class="col-6" style="font-weight: 800;">{{appointment.lawyer.name}}</div>
                            <br>
                            <br>
                        </div>

                        <div class="row">
                            <div class="col-5" style="font-weight: 600;">Lawyer Type</div>
                            <div class="col-1" style="font-weight: 600;">:</div>
                            <div class="col-6" style="font-weight: 600;">{{appointment.lawyer.lawyer_type}}</div>
                            <br>
                            <br>
                        </div>

                        <div class="row">
                            <div class="col-5" style="font-weight: 600;">Lawyer Mobile</div>
                            <div class="col-1" style="font-weight: 600;">:</div>
                            <div class="col-6" style="font-weight: 600;">{{appointment.lawyer.mobile}}</div>
                            <br>
                            <br>
                        </div>

                        <div class="row">
                            <div class="col-5" style="font-weight: 600;">Lawyer Status</div>
                            <div class="col-1" style="font-weight: 600;">:</div>
                            <div class="col-6" style="font-weight: 600;">{{appointment.lawyer.status}}</div>
                            <br>
                            <br>
                        </div>
                    </div>

                    
                    <div class="form_container_div">

                        <div class="row">
                            <div class="col-5" style="font-weight: 800;">Customer Name</div>
                            <div class="col-1" style="font-weight: 800;">:</div>
                            <div class="col-6" style="font-weight: 800;">{{appointment.customer.name}}</div>
                            <br>
                            <br>
                        </div>

                        <div class="row">
                            <div class="col-5" style="font-weight: 600;">Customer Gender</div>
                            <div class="col-1" style="font-weight: 600;">:</div>
                            <div class="col-6" style="font-weight: 600;">{{appointment.customer.gender}}</div>
                            <br>
                            <br>
                        </div>

                        <div class="row">
                            <div class="col-5" style="font-weight: 600;">Customer Mobile</div>
                            <div class="col-1" style="font-weight: 600;">:</div>
                            <div class="col-6" style="font-weight: 600;">{{appointment.customer.mobile}}</div>
                            <br>
                            <br>
                        </div>

                        <div class="row">
                            <div class="col-5" style="font-weight: 600;">Customer NID</div>
                            <div class="col-1" style="font-weight: 600;">:</div>
                            <div class="col-6" style="font-weight: 600;">{{appointment.customer.nid}}</div>
                            <br>
                            <br>
                        </div>
                        
                    </div>
                    
                </div>

                <div class="card-footer" style="display:flex;">
                    <button type="button" class="btn btn-sm btn-secondary" onclick="javascript:window.history.back();">
                        <i class="fa fa-angle-left"></i> Back
                    </button>
                </div>
            </div>
        </div>
    </main>
</div>
{% include 'Common/footer.html'%}
{%endblock%}

{%block js%}

{%endblock%}

