{% extends "Common/base.html" %}
{%load static%}
{%block title%}
<title>Role Management</title>
{%endblock title%}

{%block style%}
<style>
	.clsp-toggle::after {
		display: inline-block;
		margin-left: .255em;
		vertical-align: .255em;
		content: "";
		border-top: .3em solid;
		border-right: .3em solid transparent;
		border-bottom: 0;
		border-left: .3em solid transparent;
	}
</style>
{%endblock%}

{%block content%}
{% include 'Common/sidebar.html' with data=cnav %}
<div class="app-body mt-0">
	<main class="main p-0">
		{% include 'Common/navbar.html'%}
		<div class="page_header"><a href="{%url 'RoleManagement'%}">Role Management</a> / <span
				style="color: #000000">Create</span></div>
		

		{% include 'Common/taskbuttons.html'%}
	
		{%if messages%}
		{%for message in messages%}
		<script type="text/javascript">
			toastr["{{message.tags}}"]("{{message}}", "{{message.tags|upper}}");
		</script>
		{%endfor%}
		{%endif%}

		<div class="card" style="margin: 25px;">
			<!-- <div class="card-header" style="text-align:center;">
				<strong>Please fill up the following information</strong>
			</div> -->
			<form method="post">
				{%csrf_token%}
				<div class="card-body" style="display:flex; ">
					<div class="container">
						<div class="form-group row" style="margin:0; margin-bottom:10px;">
							<label class="col-12 col-md-3 col-lg-3 col-xl-3 col-form-label" for="text-input">Role
								Name:</label>
							<input type="text" class="is-invalid form-control col-12 col-md-9 col-lg-9 col-xl-9"
								name="role_name" id="role_name" placeholder="Enter role name" required>
						</div>
						{% for module, tasks in data.items%}
						<div style="margin-bottom: 10px; ">
							<button class="btn clsp-toggle" style="width: 100%; text-align: start; background: rgb(51, 51, 111); color: white; border-radius: 0%;"
								type="button" data-toggle="collapse" data-target="#collapse{{module.id}}"
								aria-expanded="false" aria-controls="collapse{{cm.id}}">
								Module: {{module.name}}
							</button>
							<!-- rgb(0,125,169) -->
							<div class="collapse" id="collapse{{module.id}}"
								style="background: rgb(91, 91, 155);color: white;">
								{% for task in tasks %}
								<div class="row"
									style="margin-left:0; margin-right:0; padding-top:5px; padding-bottom: 5px;">
									<div class="col-12 col-md-4 col-lg-3 col-xl-3">
										{{task.name}}
									</div>
									<div class="col-12 col-md-8 col-lg-9 col-xl-9">
										<div class="form-check-inline d-flex flex-wrap">
											{%if task.view_task %}
											<div class="form-check pr-3">
												<input class="form-check-input" type="checkbox" value="view_checked"
													name="task_{{task.id}}"> View
											</div>
											{%endif%}
											{%if task.add_task%}
											<div class="form-check pr-3">
												<input class="form-check-input" type="checkbox" value="add_checked"
													name="task_{{task.id}}"> Add
											</div>
											{%endif%}
											{%if task.save_task%}
											<div class="form-check pr-3">
												<input class="form-check-input" type="checkbox" value="save_checked"
													name="task_{{task.id}}"> Save
											</div>
											{%endif%}
											{%if task.edit_task %}
											<div class="form-check pr-3">
												<input class="form-check-input" type="checkbox" value="edit_checked"
													name="task_{{task.id}}"> Edit
											</div>
											{%endif%}
											{%if task.delete_task%}
											<div class="form-check pr-3">
												<input class="form-check-input" type="checkbox" value="delete_checked"
													name="task_{{task.id}}"> Delete
											</div>
											{%endif%}
											{%if task.print_task %}
											<div class="form-check pr-3">
												<input class="form-check-input" type="checkbox" value="print_checked"
													name="task_{{task.id}}"> Print
											</div>
											{%endif%}
											{%if task.cancel_task%}
											<div class="form-check pr-3">
												<input class="form-check-input" type="checkbox" value="cancel_checked"
													name="task_{{task.id}}"> Cancel
											</div>
											{%endif%}
											{%if task.reset_task%}
											<div class="form-check pr-3">
												<input class="form-check-input" type="checkbox" value="reset_checked"
													name="task_{{task.id}}"> Reset
											</div>
											{%endif%}
											{%if task.find_task%}
											<div class="form-check pr-3">
												<input class="form-check-input" type="checkbox" value="find_checked"
													name="task_{{task.id}}"> Find
											</div>
											{%endif%}
										</div>
									</div>
								</div>
								{%endfor%}
							</div>
						</div>
						{%endfor%}
					</div>
				</div>
				<div  style="display:flex; margin: 25px; ">
					<button type="submit" class="submit btn btn-sm btn-primary">
						<i class="fa fa-dot-circle-o"></i> Submit
					</button>
					<div style="width:10px;"></div>
					<button type="reset" class="reset btn btn-sm btn-danger">
						<i class="fa fa-ban"></i> Reset
					</button>
					<div style="width:10px;"></div>
					<button type="button" class="btn btn-sm btn-secondary" onclick="javascript:window.history.back();">
						<i class="fa fa-angle-left"></i> Back
					</button>
				</div>
			</form>
		</div>
	</main>
</div>
{% include 'Common/footer.html'%}
{%endblock%}

{%block js%}

{%endblock%}