{% extends "Common/base.html" %}
{%block title%}
<title>Rules Management</title>
{%endblock title%}
{%block style%}
{%endblock%}


{%block content%}
{% include 'Common/sidebar.html' with data=cnav %}
<div class="app-body mt-0">
    <main class="main p-0">
        {% include 'Common/navbar.html'%}
        <div class="page_header"><span style="color: #000000">Rules Management</span></div>
        

    {% include 'Common/taskbuttons.html'%}

    {%if messages%}
        {%for message in messages%}
        <script type="text/javascript">
            toastr["{{message.tags}}"]("{{message}}", "{{message.tags|upper}}");
        </script>
        {%endfor%}
        {%endif%}
        <div class="main_wrapper">
            <div style="display: flex;">

                <div style="width: 10px;"></div>
                <a class="btn btn-success btn-sm" href="{%url 'RulesManagement'%}">
                    <i class="icon-refresh"></i> Reload
                </a>
            </div>

            <!-- <form method="GET" style="display: flex; margin-top: 10px;">
                <input type="text" name="rules" class="form-control form-control-sm" placeholder="Enter Rules Name"
                       value="{{request.GET.rules}}">
                <button type="submit" class="btn btn-sm btn-primary">
                    <i class="fa fa-search"></i>
                </button>
            </form> -->

            <div class="mt-3">Total: <b>{{ruless.paginator.count}}</b> rules</div>

            <div class="table-responsive-sm">
                <table class="table table-sm bg-white mt-3">
                    <thead>
                    <tr>
                        <th>Helpline Number</th>
                        <th>Rules</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for rule in rules %}
                    <tr>

                        <td>{{rule.helpline}}</td>
                        <td>Rules Updated at {{rule.created_at}}</td>
                        
                        <td>

                            {%if privilege and privilege.edit_task%}
                            <a class="btn btn-sm btn-outline-danger" href="{%url 'RulesEdit' rule.id %}">
                                <i class="icon-notebook"></i> Edit
                            </a>
                            {%endif%}
                        </td>
                    </tr>
                    {%empty%}
                    <tr class="odd">
                        <td colspan="3" style="text-align: center;">No data available in table</td>
                    </tr>
                    {%endfor%}
                    </tbody>
                </table>
            </div>

            {% include 'Common/pagination_with_filter.html' with data=rules request=request %}

        </div>
    </main>
</div>
{% include 'Common/footer.html'%}
{%endblock %}

{%block js%}
{%endblock%}
