{% extends "Common/base.html" %}
{%block title%}
<title>Law Management</title>
{%endblock title%}
{%block style%}
<style>
    .table th{
        border-top: none;
    }

    .table thead th{
        border-bottom: none;
    }

    .table td{
        border-top: 0.5px solid #6F2FA1;
    }

    .table td, .table th {
        vertical-align: inherit;
    }

    .module-searchbar {
        border: 2px solid #A184D5;
        border-radius: 24px;
        overflow: hidden;
        padding: 9px;
        width: 250px;
        margin-right: 10px;
    }
    form .submit {
        width: 50px;
        border-radius: 50px;
    }
</style>
{%endblock%}


{%block content%}
{% include 'Common/sidebar.html' with data=cnav %}
<div class="app-body mt-0">
    <main class="main p-0">
        {% include 'Common/navbar.html'%}
        <div class="page_header"><h5>Law Management</h5></div>
        

    {% include 'Common/taskbuttons.html'%}

    {%if messages%}
        {%for message in messages%}
        <script type="text/javascript">
            toastr["{{message.tags}}"]("{{message}}", "{{message.tags|upper}}");
        </script>
        {%endfor%}
        {%endif%}
        <div class="main_wrapper">
            <div class="row mb-3">
                <div class="col-8 d-flex">
                    {%if privilege and privilege.add_task%}
                    <a class="btn btn-primary btn-sm p-2 mr-3" href="{%url 'LawCreate'%}"><i class="icon-plus"></i> Add Law</a>
                    {%endif%}
                    <a class="btn btn-success btn-sm p-2" href="{%url 'LawManagement'%}"><i class="icon-refresh"></i> Reload</a>
                </div>
            </div>
            <div class="row mb-3">
                <form method="GET" class="col-4 d-flex">
                    <input type="text" name="law" class="form-control form-control-sm module-searchbar" placeholder="Enter Law Name" value="{{request.GET.law}}">
                    <button type="submit" class="submit btn btn-sm btn-primary">
                        <i class="fa fa-search"></i>
                    </button>
                </form>
            </div>

            <div class="table-title"><h2 class="text-center">Total Laws: {{laws.paginator.count}}</h2></div>
            <div class="table-responsive-sm p-4 bg-white">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Thumbnail</th>
                        <th>Law Name</th>
                        <th>Active</th>
                        <th class="text-center">Operation</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for law in laws %}
                    <tr>
                        <td><img src="{{law.thumbnail.url}}" style="width:90px"></td>
                        {% if law.is_archived %}
                        <td style="color: red;">{{law.name}}</td>
                        {% else %}
                        <td>{{law.name}}</td>
                        {% endif %}
                        {% if law.is_archived %}
                        <td style="color: red;"><b>&cross;</b></td>
                        {% else %}
                        <td style="color: green;"><b>&check;</b></td>
                        {% endif %}
                        <td>
                            <div class="d-flex justify-content-center">
                                {%if privilege and privilege.edit_task%}
                                <a class="mr-3" href="{%url 'LawView' law.id %}">
                                    <i class="icon-eye"></i>
                                </a>
                                {%endif%}

                                {%if privilege and privilege.edit_task%}
                                <a href="{%url 'LawEdit' law.id %}">
                                    <i class="fas fa-edit"></i>
                                </a>
                                {%endif%}
                            </div>
                        </td>
                    </tr>
                    {%empty%}
                    <tr class="odd">
                        <td colspan="9" style="text-align: center;">No data available in table</td>
                    </tr>
                    {%endfor%}
                    </tbody>
                </table>
            </div>

            {% include 'Common/pagination_with_filter.html' with data=laws request=request %}

        </div>
    </main>
</div>
{% include 'Common/footer.html'%}
{%endblock %}

{%block js%}
{%endblock%}
