{%spaceless%}
{%load static%}
<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav">
      <!-- <div style="text-align: center; font-size: 25px; padding: 10px 0px;">X<span style="color: gold;">mart</span></div> -->
      <div class="navbar-head">
        <a href="{%url 'gohome'%}" ><i class="fas fa-home"></i><span style="color: white;" ><b>Dashboard</b></span> <span class="navhead-notification">0</span></a>
      </div>
      
      <!-- <li class="nav-item">
        <a class="nav-link" href="{%url 'gohome'%}">Dashboard</a>
      </li> -->

      <div class="nav-head">
        <span>Management</span>
      </div>

      {%for key, value in data.modules.items%}
        {% if value.items|length == 1 %}
        {%for tsk,tskurl in value.items %}
        <li class="nav-item">
          <a class="nav-link" href="{%url tskurl%}" style="font-size: 13px;">
            <i class="fas fa-calendar-minus"></i>
            <span>{{tsk}}</span>
          </a>
        </li>
        {%endfor%}
        {%else%}
        <li class="nav-item nav-dropdown">

          <a class="nav-link nav-dropdown-toggle" href="#" style="font-size: 13px;">
            <i class="fas fa-calendar-minus"></i>
            <span>{{key}}</span>
            <i class="fas fa-chevron-down"></i>
          </a>

          <ul class="nav-dropdown-items">
            {%for tsk,tskurl in value.items %}
            <li class="nav-item">
              <a class="nav-link" href="{%url tskurl%}" style="padding-left: 24px;">
                <i class="fas fa-calendar-minus"></i>
                <span style="color: white;">&nbsp;&nbsp;&nbsp;&nbsp;{{tsk}}</span>
              </a>
            </li>
            {%endfor%}
          </ul>
        </li>
        {%endif%}
      {%endfor%}
    </ul>
    <div style="height: 100px;"></div>
  </nav>
</div>
{%endspaceless%}
