{% extends "Common/base.html" %}
{%load static%}
{%block title%}
<title>Know Your Law</title>
{%endblock title%}

{%block style%}
<script src="{%static 'ckeditor/ckeditor-init.js'%}"></script>
<script src="{%static 'ckeditor/ckeditor/ckeditor.js'%}"></script>
{%endblock%}

{%block content%}
{% include 'Common/sidebar.html' with data=cnav %}
<div class="app-body mt-0">
    <main class="main p-0">
        {% include 'Common/navbar.html'%}
        <div class="page_header"><a href="{%url 'KylManagement'%}">Know Your Law</a> / <span style="color: #000000">Create</span></div>
        

    {% include 'Common/taskbuttons.html'%}

    {%if messages%}
        {%for message in messages%}
        <script type="text/javascript">
            toastr["{{message.tags}}"]("{{message}}", "{{message.tags|upper}}");
        </script>
        {%endfor%}
        {%endif%}
        <div style="padding: 30px 20px;">
            <form method="post" autocomplete="off" enctype="multipart/form-data" class="bg-white p-4" style="box-shadow: 0 1px 4px 0 rgb(0 0 0 / 14%);">
                {%csrf_token%}
                <div class="d-flex ">
                    <div class="form_container_div">
                        <div class="form-group row mx-0">
                            <label class="col-12 col-md-3 col-lg-3 col-xl-3 col-form-label font-weight-bold" for="law">Law:</label>
                            <select class="is-invalid form-control form-control-sm col-12 col-md-9 col-lg-9 col-xl-9"  name="law" id="law" class="mr-1" required>
                                <option value="">Select Law</option>
                                {%for l in laws %}
                                <option value={{l.id}}>{{l.name}}</option>
                                {%endfor%}
                            </select>
                        </div>

                        <div class="form-group row mx-0">
                            <label class="col-12 col-md-3 col-lg-3 col-xl-3 col-form-label font-weight-bold" for="question">Question:</label>
                            <input type="text" class="is-invalid form-control form-control-sm col-12 col-md-9 col-lg-9 col-xl-9" name="question" id="question" placeholder="Enter Question" required maxlength="59"/>
                        </div>

                        <div class="form-group row mx-0">
                            <label class="col-12 col-md-3 col-lg-3 col-xl-3 col-form-label font-weight-bold" for="eng_answer">English Answer:</label>
                            <textarea style="min-width: 100%" id="eng_answer" name="eng_answer" rows="4" cols="50"></textarea>
                        </div>

                        <div class="form-group row mx-0">
                            <label class="col-12 col-md-3 col-lg-3 col-xl-3 col-form-label font-weight-bold" for="ban_answer">Bangla Answer:</label>
                            <textarea style="min-width: 100%" id="ban_answer" name="ban_answer" rows="4" cols="50"></textarea>
                        </div>

                        <div class="form-group row mx-0">
                            <label class="col-12 col-md-3 col-lg-3 col-xl-3 col-form-label font-weight-bold" for="tags">Tags (Comma seperated):</label>
                            <input type="text" class="form-control form-control-sm col-12 col-md-9 col-lg-9 col-xl-9" name="tags" id="tags" maxlength="59"/>
                        </div>

                    </div>
                </div>

                <div class="d-flex  mt-2">
                    <button type="submit" class="submit btn btn-sm btn-primary">
                        <i class="fa fa-dot-circle-o"></i> Submit
                    </button>
                    <div style="width: 10px"></div>
                    <button type="reset" class="reset btn btn-sm btn-danger">
                        <i class="fa fa-ban"></i> Reset
                    </button>
                    <div style="width: 10px"></div>
                    <button type="button" class="btn btn-sm btn-secondary" onclick="javascript:window.history.back();">
                        <i class="fa fa-angle-left"></i> Back
                    </button>
                </div>

            </form>
        </div>
    </main>
</div>
{% include 'Common/footer.html'%}

{%endblock content%}

{%block js%}
<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#prevw_img').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#thumbnail").change(function () {
        readURL(this);
    });

</script>
{%endblock js%}
