{% extends "Common/base.html" %}
{%block title%}
<title>User Management</title>
{%endblock title%}
{%block style%}
<style>
	.row {
		padding: 5px 0px;
	}
</style>
{%endblock%}
{%block content%}
{% include 'Common/sidebar.html' with data=cnav %}
<div class="app-body mt-0">
    <main class="main p-0">
        {% include 'Common/navbar.html'%}
        <div class="page_header"><a href="{%url 'UserManagement' %}">User Management</a> / <span style="color: #000000">Details</span></div>
        

		{% include 'Common/taskbuttons.html'%}

		{%if messages%}
        {%for message in messages%}
        <script type="text/javascript">
            toastr["{{message.tags}}"]("{{message}}", "{{message.tags|upper}}");
        </script>
        {%endfor%}
        {%endif%}
		<div class="card border-0" style="margin: 15px;" >
			<div class="card profile-card mb-3">
				<div class="card-header profile-card-header position-relative min-vh-25 mb-7">
					<div class="bg-holder rounded-3 rounded-bottom-0"></div>
					<div class="avatar avatar-5xl avatar-profile">
						<img src="{{userwithrole.picture.url}}" alt="profile" class="rounded-circle img-thumbnail shadow-sm" />
					</div>
				</div>
				<div class="card-body profile-card-body">
					<div class="row">
						<div class="col-lg-8">
							<h4 class="mb-1">{{userObj.first_name}}</h4>
							<h5 class="fw-normal">{{userwithrole.role.name}}</h5>
							<div class="border-dashed-bottom my-4 d-lg-none"></div>
						</div>
						<div class="col ps-2 ps-lg-3">
							<a class="d-flex align-items-center user-info mb-2" href="#">
								<i class="fas fa-user"></i>
								<div class="flex-1 ml-2">
									<h6 class="mb-0">{{userObj.username}}</h6>
								</div>
							</a>
							<a class="d-flex align-items-center user-info mb-2" href="tel:{{userwithrole.mobile}}">
								<i class="fas fa-phone"></i>
								<div class="flex-1 ml-2">
									<h6 class="mb-0">{{userwithrole.mobile}}</h6>
								</div>
							</a>
							<a class="d-flex align-items-center user-info mb-2" href="mailto:{{userObj.email}}">
								<i class="fas fa-envelope"></i>
								<div class="flex-1 ml-2">
									<h6 class="mb-0">{{userObj.email}}</h6>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="card-footer border-0">
				<button type="button" class="btn btn-sm btn-secondary" onclick="javascript:window.history.back();">
					<i class="fa fa-angle-left"></i> Back
				</button>
			</div>
		</div>
	</main>
</div>
{% include 'Common/footer.html'%}
{%endblock%}

{%block js%}
{%endblock%}