{% extends "Common/base.html" %}
{%block title%}
<title>User Management</title>
{%endblock title%}
{%block style%}
<style>
    .table th{
        border-top: none;
    }

    .table thead th{
        border-bottom: none;
    }

    .table td{
        border-top: 0.5px solid #6F2FA1;
    }

    .table td, .table th {
        vertical-align: inherit;
    }

    .profilePicture{
        border-radius: 100px;
    }
    .module-searchbar {
        border: 2px solid #A184D5;
        border-radius: 24px;
        overflow: hidden;
        padding: 9px;
        width: 250px;
        margin-right: 10px;
    }
    form .submit {
        width: 50px;
        border-radius: 50px;
    }
</style>
{%endblock%}
{%block content%}
{% include 'Common/sidebar.html' with data=cnav %}
<div class="app-body mt-0">
    <main class="main p-0">
        {% include 'Common/navbar.html'%}
        <!-- <div class="page_header"><span style="color: #000000">User Management</span></div> -->
        

        {% include 'Common/taskbuttons.html'%}

        {%if messages%}
            {%for message in messages%}
            <script type="text/javascript">
                toastr["{{message.tags}}"]("{{message}}", "{{message.tags|upper}}");
            </script>
            {%endfor%}
        {%endif%}
        <div class="main_wrapper">


            <div class="row mb-3">
                <div class="col-8 d-flex justify-content-between">
                    <div>
                        {%if privilege and privilege.add_task%}
                        <a class="btn btn-sm btn-primary p-2 mr-3" href="{%url 'NewRoleAssign'%}"><i class="icon-plus"></i> Add New User</a>
                        {%endif%}
                        <a class="btn btn-success btn-sm p-2" href="{%url 'UserManagement'%}"><i class="icon-refresh"></i> Reload</a>
                    </div>
                </div>
                <div class="col-4">
                    <p style="font-size: 16px; color: #000000;margin: 0;font-weight: 500;">Total Number of Lawyers : 2500 </p>
                </div>
            </div>
            <div class="row mb-3">
                <form method="GET" class="col-4 d-flex">
                    <input type="text" class="form-control form-control-sm module-searchbar" name="username" placeholder="Enter username">
                    <button type="submit" class="submit btn btn-sm btn-primary">
                        <i class="fas fa-search"></i>
                    </button>
                    <!-- <div class="navbar-search">
                        <input class="border-0" type="text" name="search">
                        <img src="../../static/images/search.svg" alt="search">
                      </div> -->
                </form>
            </div>
           
            <div class="table-responsive-sm p-4 bg-white">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="text-center">Profile</th>
                            <th>Username</th>
                            <th>Name</th>
                            <th>Short Name</th>
                            <th>Mobile</th>
                            <th>Email</th>
                            <th>Company</th>                   
                            <th>Role(s)</th>
                            <th class="text-center">Operation</th>
                            <th class="text-center">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                    {%for data in context %}
                        <tr>
                            <td>
                                <img class="profilePicture" src="../../static/images/table-profile.png" alt="">
                            </td>
                            <td>{{data.username}}</td>
                            <td>{{data.fullname}}</td>
                            <td>{{data.shortname}}</td>
                            <td>{{data.mobile}}</td>
                            <td>{{data.email}}</td>
                            <td>{{data.company}}</td>
                            <td>{{data.role}}</td> 
                            <td>
                                <div class="d-flex justify-content-center">
                                    {%if privilege and privilege.view_task%}
                                    <a class="mr-3" href="{%url 'RoleAssignmentView' data.id %}">
                                        <i class="icon-eye"></i>
                                    </a>
                                    {%endif%}
                                    {%if privilege and privilege.edit_task%}
                                        {%if request.user.is_superuser %}
                                        <a class="" href="{%url 'RoleAssignmentEdit' data.id %}">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                        {%else%}
                                            {% if not data.is_ca %}
                                            <a class="" href="{%url 'RoleAssignmentEdit' data.id %}">
                                                <i class="fas fa-edit"></i>
                                            </a>
                                            {%endif%}
                                        {%endif%}
                                    {%endif%}
                                </div>
                            </td>
                            <td class="text-center">
                                <div class="btn-group">
                                    <div type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v"></i>
                                    </div>
                                    <div class="dropdown-menu">
                                        {%if privilege and privilege.save_task%} 
                                        <a href="{%url 'UpdateUserPermission' data.id %}" class="dropdown-item" href="#">
                                            <i class="icon-wrench"></i> Update Permissions
                                        </a>
                                        {%endif%}
                                      </div>
                                </div>
                            </td>
                        </tr>
                    {%empty%}
                        <tr class="odd"><td colspan="9" style="text-align: center;">No data available in table</td></tr>
                    {%endfor%}
                    </tbody>
                </table>
            </div>
            
            
            <div class="pagination" style="justify-content: center;align-items: center;height: 55px;">
                <span class="step-links">
                    {% if users.has_previous %}
                        <a class="btn btn-sm" style="background:transparent;border-color:#20a8d8;color:black;" href="?page=1{% if request.GET.username %}&username={{request.GET.username}}{% endif %}">&laquo; first</a>
                        <a class="btn btn-sm" style="background:transparent;border-color:#20a8d8;color:black;" href="?page={{ users.previous_page_number }}{% if request.GET.username %}&username={{request.GET.username}}{% endif %}">&lsaquo; previous</a>
                    {% endif %}
                    {%for num in users.paginator.page_range%}
                        {%if num == users.number %}
                          <a class="btn btn-sm" style="background: #20a8d8;color: white;" href="?page={{ users.number }}{% if request.GET.username %}&username={{request.GET.username}}{% endif %}">{{num}}</a>
                        {%elif num < users.number|add:'3' and num > users.number|add:'-3' %}
                          <a class="btn btn-sm" style="background:transparent;border-color:#20a8d8;color:black;" href="?page={{ num }}{% if request.GET.username %}&username={{request.GET.username}}{% endif %}">{{num}}</a>
                        {%endif%}
                    {%endfor%}
                    {% if users.has_next %}
                        <a class="btn btn-sm" style="background:transparent;border-color:#20a8d8;color:black;" href="?page={{ users.next_page_number }}{% if request.GET.username %}&username={{request.GET.username}}{% endif %}">next &rsaquo;</a>
                        <a class="btn btn-sm" style="background:transparent;border-color:#20a8d8;color:black;" href="?page={{ users.paginator.num_pages }}{% if request.GET.username %}&username={{request.GET.username}}{% endif %}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>

        </div>
        
    </main>
</div>
{% include 'Common/footer.html'%}
{%endblock %}

{%block js%}
{%endblock%}
