{% extends "Common/base.html" %}
{%block title%}
<title>Customer Management</title>
{%endblock title%}
{%block style%}
<style>
    .table th{
        border-top: none;
    }

    .table thead th{
        border-bottom: none;
    }

    .table td{
        border-top: 0.5px solid #6F2FA1;
    }

    .table td, .table th {
        vertical-align: inherit;
    }

    .profilePicture{
        border-radius: 100px;
    }
    .module-searchbar {
        border: 2px solid #A184D5;
        border-radius: 24px;
        overflow: hidden;
        padding: 9px;
        width: 250px;
        margin-right: 10px;
    }
    form .submit {
        width: 50px;
        border-radius: 50px;
    }
</style>
{%endblock%}

{%block content%}
{% include 'Common/sidebar.html' with data=cnav %}
<div class="app-body mt-0">
    <main class="main p-0">
        {% include 'Common/navbar.html'%}
        <div class="page_header"><h5>Customer Management</h5></div>
        

        {% include 'Common/taskbuttons.html'%}

        {%if messages%}
            {%for message in messages%}
            <script type="text/javascript">
                toastr["{{message.tags}}"]("{{message}}", "{{message.tags|upper}}");
            </script>
            {%endfor%}
        {%endif%}
        <div class="main_wrapper">
            <div class="row mb-3">
                <div class="col-8 d-flex">
                    <a class="btn btn-success btn-sm p-2" href="{%url 'CustomerManagement'%}">
                        <i class="icon-refresh"></i> Reload
                    </a>
                </div>
            </div>
            <div class="row mb-3">
                <form method="GET" class="col-6 d-flex">
                    <input type="text" name="name" class="form-control form-control-sm module-searchbar" placeholder="Search by name" value="{{request.GET.name}}">
                    <input type="text" name="mobile" class="form-control form-control-sm module-searchbar" placeholder="Search by mobile" value="{{request.GET.mobile}}">
                    <button type="submit" class="submit btn btn-sm btn-primary">
                        <i class="fa fa-search"></i>
                    </button>
                </form>
            </div>
            <div class="table-title"><h2 class="text-center">Total Customers: {{customers.paginator.count}}</h2></div>
            <div class="table-responsive-sm p-4 bg-white">
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Mobile No</th>
                            <th class="text-center">Operation</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for customer in customers %}
                        <tr>
                            <td>{{customer.customer_id}}</td>
                            <td>{{customer.name}}</td>
                            <td>{{customer.address.street_address}}</td>
                            <td>
                                {%if customer.mobile %}
                                {{customer.mobile}}
                                {%endif%}
                            </td>
                            <td>
                                <div class="d-flex justify-content-center">
                                    {%if privilege and privilege.view_task %}
                                    <a class="mr-3" href="{%url 'CustomerView' customer.id %}">
                                        <i class="icon-eye"></i>
                                    </a>
                                    {%endif%}
                                    {%if privilege and privilege.edit_task %}
                                    <a class="mr-3" href="{%url 'CustomerEdit' customer.id %}">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    {%endif%}
                                </div>
                            </td>
                        </tr>
                    {%empty%}
                        <tr class="odd"><td colspan="9" style="text-align: center;">No data available in table</td></tr>
                    {%endfor%}
                    </tbody>
                </table>
            </div>
            
            
            {% include 'Common/pagination_with_filter.html' with data=customers request=request %}

        </div>
    </main>
</div>
{% include 'Common/footer.html'%}
{%endblock %}

{%block js%}
{%endblock%}
